.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
}

.logo {
  justify-content: center;
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 0px 32px;
  align-self: center;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display:flex;
  padding: 0px;
  gap: 20px;

}

li{
  display:flex;
}

.right-links{
  justify-content: flex-end;
  padding-right: 20px;
}

.left-links{
  padding-left: 20px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}