h1{font-size: 16px;}
body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  padding: 15px 15px;
  width: 400px;
  height: 225px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 0px;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px;
  margin: 10px 0px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding:20px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
  margin-left: 115px;
  display: block;
}